:root {
  --pixel-size: 2px; 
  --font-family-pixel: 'Press Start 2P', cursive; 
  --color-background: #eee9c5;
  --color-background-app: #c6e0bb;
  --color-text: #83f608; 
  --color-primary: #C7E8A6; 
  --color-secondary: #FFDDAA; 
  --color-border: #333333; 
  --color-button-bg: #7cc74c;
  --color-button-text: #333333;
  --color-input-bg: #FFFFFF;
  --color-input-text: #333333;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: var(--font-family-pixel);
  background-color: var(--color-background);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app { 
  background-color: var(--color-background-app);
  border: var(--pixel-size) solid var(--color-border);
  box-shadow: 
    var(--pixel-size) var(--pixel-size) 0 var(--color-primary),
    calc(var(--pixel-size) * 2) calc(var(--pixel-size) * 2) 0 var(--color-secondary); 
  padding: calc(var(--pixel-size) * 10);
  border-radius: var(--pixel-size); 
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-sizing: border-box;
}